{% extends 'snipets/base.html' %}

{% block content %}
<style>
.flyer_head {
	background: #CBFFD3;
    color: #666666;
}
.flyer {
	background: #E6FFE9;
}
.counter_head {
	background: #FFDBC9;
    color: #666666;
}
.counter {
	background: #ffe9de;
}
.kitchen_head {
	background: #EDFFBE;
    color: #666666;
}
.kitchen {
	background: #F3FFD8;
}
td {
    text-align: center;
    font-size: 10px;
}
th {
    text-align: center;
}
</style>
<div class="container">
    <div class="col-md-12">
        <h3 class="font-italic text-success mx-2 my-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-ruled" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6H6v2h7V7zm0 3H6v2h7v-2zm0 3H6v2h6a1 1 0 0 0 1-1v-1zm-8 2v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2z"/>
            </svg>
            シフト
        </h3>
        
        <div class="nav d-flex justify-content-between">
            <div class="nav d-flex flex-row">
                <h5 class="text-secondary mx-2 mt-2">{{year}}年 {{month}}月</h5>
            </div>
            <div>
                {% include 'shifts/shift_create.html' %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered ">
            <thead>
                <tr>
                    <th></th>
                    {% for day, value in days.items %}
                        <th scope="col" {% if value.holiday_flg == True or day == 28 %} class="text-danger" {% endif %}>
                            {{month}}/{{day}}<br>({{value.day_of_week}})
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="flyer_head"><th rowspan="5">Flyer</th></tr>
                <tr class="flyer">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.flyer_shift.am_1 is not None %}
                            {{s.flyer_shift.am_1.modify_fromtime}}:00~{{s.flyer_shift.am_1.modify_totime}}:00<br>
                            {% if s.flyer_shift.am_1.submit_id.staff_id is not None %}
                                {{s.flyer_shift.am_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="flyer">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.flyer_shift.am_2 is not None %}
                            {{s.flyer_shift.am_2.modify_fromtime}}:00~{{s.flyer_shift.am_2.modify_totime}}:00<br>
                            {% if s.flyer_shift.am_2.submit_id.staff_id is not None %}
                                {{s.flyer_shift.am_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="flyer">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.flyer_shift.pm_1 is not None %}
                            {{s.flyer_shift.pm_1.modify_fromtime}}:00~{{s.flyer_shift.pm_1.modify_totime}}:00<br>
                            {% if s.flyer_shift.pm_1.submit_id.staff_id is not None %}
                                {{s.flyer_shift.pm_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　 　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="flyer">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.flyer_shift.pm_2 is not None %}
                            {{s.flyer_shift.pm_2.modify_fromtime}}:00~{{s.flyer_shift.pm_2.modify_totime}}:00<br>
                            {% if s.flyer_shift.pm_2.submit_id.staff_id is not None %}
                                {{s.flyer_shift.pm_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>

                <tr class="counter_head"><th rowspan="9">Counter</th></tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.am_1 is not None %}
                            {{s.counter_shift.am_1.modify_fromtime}}:00~{{s.counter_shift.am_1.modify_totime}}:00<br>
                            {% if s.counter_shift.am_1.submit_id.staff_id is not None %}
                                {{s.counter_shift.am_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.am_2 is not None %}
                            {{s.counter_shift.am_2.modify_fromtime}}:00~{{s.counter_shift.am_2.modify_totime}}:00<br>
                            {% if s.counter_shift.am_2.submit_id.staff_id is not None %}
                                {{s.counter_shift.am_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.am_3 is not None %}
                            {{s.counter_shift.am_3.modify_fromtime}}:00~{{s.counter_shift.am_3.modify_totime}}:00<br>
                            {% if s.counter_shift.am_3.submit_id.staff_id is not None %}
                                {{s.counter_shift.am_3.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.am_4 is not None %}
                            {{s.counter_shift.am_4.modify_fromtime}}:00~{{s.counter_shift.am_4.modify_totime}}:00<br>
                            {% if s.counter_shift.am_4.submit_id.staff_id is not None %}
                                {{s.counter_shift.am_4.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.am_5 is not None %}
                            {{s.counter_shift.am_5.modify_fromtime}}:00~{{s.counter_shift.am_5.modify_totime}}:00<br>
                            {% if s.counter_shift.am_5.submit_id.staff_id is not None %}
                                {{s.counter_shift.am_5.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.pm_1 is not None %}
                            {{s.counter_shift.pm_1.modify_fromtime}}:00~{{s.counter_shift.pm_1.modify_totime}}:00<br>
                            {% if s.counter_shift.pm_1.submit_id.staff_id is not None %}
                                {{s.counter_shift.pm_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.pm_2 is not None %}
                            {{s.counter_shift.pm_2.modify_fromtime}}:00~{{s.counter_shift.pm_2.modify_totime}}:00<br>
                            {% if s.counter_shift.pm_2.submit_id.staff_id is not None %}
                                {{s.counter_shift.pm_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="counter">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.counter_shift.pm_3 is not None %}
                            {{s.counter_shift.pm_3.modify_fromtime}}:00~{{s.counter_shift.pm_3.modify_totime}}:00<br>
                            {% if s.counter_shift.pm_3.submit_id.staff_id is not None %}
                                {{s.counter_shift.pm_3.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                
                <tr class="kitchen_head"><th rowspan="5">Kitchen</th></tr>
                <tr class="kitchen">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.kitchen_shift.am_1 is not None %}
                            {{s.kitchen_shift.am_1.modify_fromtime}}:00~{{s.kitchen_shift.am_1.modify_totime}}:00<br>
                            {% if s.kitchen_shift.am_1.submit_id.staff_id is not None %}
                                {{s.kitchen_shift.am_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="kitchen">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.kitchen_shift.am_2 is not None %}
                            {{s.kitchen_shift.am_2.modify_fromtime}}:00~{{s.kitchen_shift.am_2.modify_totime}}:00<br>
                            {% if s.kitchen_shift.am_2.submit_id.staff_id is not None %}
                                {{s.kitchen_shift.am_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="kitchen">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.kitchen_shift.pm_1 is not None %}
                            {{s.kitchen_shift.pm_1.modify_fromtime}}:00~{{s.kitchen_shift.pm_1.modify_totime}}:00<br>
                            {% if s.kitchen_shift.pm_1.submit_id.staff_id is not None %}
                                {{s.kitchen_shift.pm_1.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="kitchen">
                    {% for s in shift %}
                        <td class="text-center">
                        {% if s.kitchen_shift.pm_2 is not None %}
                            {{s.kitchen_shift.pm_2.modify_fromtime}}:00~{{s.kitchen_shift.pm_2.modify_totime}}:00<br>
                            {% if s.kitchen_shift.pm_2.submit_id.staff_id is not None %}
                                {{s.kitchen_shift.pm_2.submit_id.staff_id.staff_name}}
                            {% else %}
                                (　　)
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}