{% extends 'snipets/base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="col-md-4 offset-md-2"><h5 class="text-secondary">お疲れ様です。{{user}}さん</h5></div>
        <div class="col-md-8 offset-md-2" style="background-image: url('{% static "images/leaves-1498985_640.jpg" %}'); height: 200px;">
            <h3 id="days" class="text-center" style="color: #FFFFCC; padding-top: 70px;"></h3>
        </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'home/home.js' %}"></script>
{% endblock %}